.layout {
  overflow-y: auto;
  background-color: var(--main-background-color);
}

.content {
  height: 100vh;
  margin: 0 auto;
  max-width: var(--max-width-mobile);

  @media (min-width: 1050px) {
    max-width: var(--max-width-desktop);
  }
}
