.content {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  background-color: var(--component-background-color);
  border-radius: 12px;
  max-width: 280px;
}

.theme {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.title {
  display: flex;
  align-items: center;
}

.theme-actions {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  button {
    border-color: var(--button-helper-color);
    color: var(--text-invert-color);
  }
}

.active {
  border-color: var(--border-focus-color) !important;
  background-color: var(--border-focus-color);
}

.temp {
  border: 2px dashed var(--button-helper-color) !important;
}
