.content {
  display: flex;
  margin-top: 28px;
  align-items: flex-end;
  justify-content: space-between;

  @media (min-width: 1050px) {
    max-width: 35%;
  }
}

.buttons {
  display: flex;
}

.refresh {
  margin-bottom: 0.6rem;
  margin-left: 0.8rem;
  background-color: gray;
  padding: 0.25rem;
  border-radius: 0.5rem;
}