.content {
  display: flex;
  gap: 0.7rem;
}

.add-homework {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.container {
  padding: 0 16px;
}

.swiper-container {
  height: 150px;
}

.swiper-elem {
  display: flex;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  width: fit-content;
  padding: 0 6px;
}

.section-title {
  width: fit-content;
  margin: 0 auto;
}

.deadline {
  display: flex;
  flex-direction: row;
  justify-content: center;

  ul {
    margin: 20px 0;
  }
}

.deadline-active {
  opacity: 1;
  background-color: var(--border-focus-color);
}

.test {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  color: #fff;

  p {
    margin-bottom: 3px;
    margin-right: 0.5px;
  }
}

.submit {
  margin: 0 auto;
}
