.container {
  width: 100%;
}

.content {
  background-color: var(--component-background-color);
  width: 100%;
  height: auto;
  border-radius: 4px;
  padding: 1rem 0.7rem;
  margin-top: 16px;
}

.table {
  width: 100%;

  @media (min-width: 1050px) {
    width: fit-content;
  }
}

.mobile {
  @media (max-width: 1050px) {
    width: 0;
  }
}

.icon {
  margin-left: 10px;

  svg {
    width: 25px;
    height: 25px;
  }
}

.active {
  scale: 1.1;
}
