.container {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: var(--component-background-color);
  width: 100%;
  border-radius: 4px;
  padding: 1rem 0.7rem;
  margin-top: 16px;
  color: var(--text-invert-color);
  cursor: pointer;
}

.mod-content {
  display: flex;
  margin: 0 auto;
  background-color: var(--component-background-color);
  width: 40%;
  border-radius: 16px;
  padding: 1rem 0.7rem;
  color: var(--text-invert-color);
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.add-icon {
  margin: 0 auto;
  width: 40px;
  height: 40px;
}

.active {
  scale: 1.1;
}
