.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0;
  margin: 0 auto 60px;
  width: 100%;
  max-width: var(--max-width-mobile);

  @media (min-width: 1050px) {
    max-width: var(--max-width-desktop);
    padding: 1rem 0 0;
    margin-bottom: 40px;
  }
}

.container {
  width: 100%;
  max-width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12%;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #fff;
}

.add-icon {
  margin: 0 auto;
  width: 28px;
  height: 28px;
}
