.container {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.title {
  text-align: center;
  color: var(--text-invert-color);
}

.form {
  margin: 30px auto auto;
  width: 88%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.active {
  border-color: var(--border-focus-color) !important;
}

.label {
  color: var(--text-invert-color);
  font-size: 16px;
  margin-bottom: 5px;
  -webkit-tap-highlight-color: transparent;
}

.group-list {
  position: absolute;
  left: 0;
  right: 0;
  width: 50%;
  border-radius: 8px;
  border: 2px solid var(--border-base-color);
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--main-background-color);
  color: var(--text-invert-color);
  z-index: 1;
}

.group-name {
  padding: 10px;
  cursor: pointer;
}
