.container {
  margin-top: 10px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.content {
  display: -webkit-grid;
  display: grid;
  -webkit-grid-auto-flow: dense;
  grid-auto-flow: dense;
  -webkit-grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-grid-auto-rows: auto;
  grid-auto-rows: auto;
  gap: 1rem;
  container-type: inline-size;
  padding: 0 10px;
  margin-top: 0;
}

.item {
  position: relative;
  background-color: var(--component-light-background-color);
  border-radius: 4px;
  height: 270px;
}

.subject-wrapper {
  display: flex;
  background-color: var(--component-background-color);
  border-bottom: solid 1px var(--text-invert-color);
  height: 4rem;
  padding: 0 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
