.container {
  width: 100%;
  margin-bottom: 0.75rem;
}

.content {
  background-color: var(--component-background-color);
  width: 100%;
  border-radius: 0.25rem;
  padding: 1rem 0.7rem;
  margin-top: 0.75rem;
  transition: all 0.2s ease-in-out;
  position: relative;
}

@media (hover: hover) {
  .content:hover {
    background-color: var(--component-light-background-color);
    transform: scale(1.015);
  }
}

.title {
  display: flex;
}

.current {
  padding: 0.35rem 0.6rem;
  border-radius: 1rem;
  background-color: var(--border-focus-color);
}
