:root {
  --main-background-color: #17171c;

  --text-invert-color: #f8f9fa;
  --time-color: #ae8bff;
  --today-color: #bd9edc;
  --border-base-color: gray;
  --border-focus-color: #8a6bcc;

  --header-background-color: #000;
  --header-hover-color: #c9b3ff;

  --button-accept-color: #ae8bff;
  --button-question-color: #8793a6;
  --button-attention-color: #ea0000;
  --button-helper-color: gray;
  --button-cancel-color: #f0f0f0;
  --border-focus-cancel-color: #d0d0d0;
  --button-cancel-text-color: #333;

  --component-background-color: #373d48;
  --component-light-background-color: #444a56;
  --component-underline-color: #8793ab;

  --lesson-modal-background-color: #1f1f1f;
  --lect-background-color: #5b40fd;
  --pract-background-color: #e48cd1;
  --lab-background-color: #ff0016;
  --cons-background-color: #69ddcb;
  --zach-background-color: #e7bd84;
  --exam-background-color: #fb6a6a;

  --unknown-color: #ff2d2d;

  --max-width-mobile: 547px;
  --max-width-desktop: 1000px;

  font-family: 'Inter', sans-serif;
  font-variant-numeric: tabular-nums;
}

[data-theme='light'] {
  --main-background-color: #fcf3f3;

  --text-invert-color: #17171c;
  --header-background-color: #e2dddd;

  --button-cancel-color: #0f0f0f;

  --component-background-color: #e5e8ef;
  --component-light-background-color: #dbdeee;

  --lesson-modal-background-color: #e7e3e3;
}

body {
  overflow: hidden;
  overscroll-behavior: none;
  width: 100% !important;
}

::-webkit-scrollbar {
  width: 5px;
}

@media (max-width: 1050px) {
  ::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

::-webkit-scrollbar-thumb {
  background: var(--button-question-color);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
