.Button {
  color: var(--text-invert-color);
  transition: rotate 0.15s ease-in-out;
}

.accept {
  background-color: var(--button-accept-color);
  border: 1px solid var(--button-accept-color);
  border-radius: 12px;
  padding: 0.5rem;
  transition: all 0.15s ease-in-out;

  &:active {
    border-color: var(--border-focus-color);
    scale: 0.95;
  }

  @media (min-width: 1050px) {
    &:hover {
      scale: 1.05;
    }
  }

  &:disabled {
    opacity: 0.4;
    scale: none;
    cursor: auto;
  }
}

.question {
  color: var(--button-question-color);
  border: 1px solid transparent;
  text-decoration: underline;
  text-underline-offset: 4px;
  width: fit-content;
  margin: auto auto;
}

.attention {
  border: 2px solid var(--button-attention-color);
  color: var(--button-attention-color);
  border-radius: 8px;
  font-size: 15px;
  padding: 0.4rem 0.8rem;
}

.menu-item {
  font-size: 16px;
  font-weight: 400;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.15s ease-in-out;

  &:active {
    scale: 0.8;
  }

  &:disabled {
    scale: 1 !important;
    opacity: 0.4;
  }
}

.rotate {
  rotate: -180deg;
}
