.container {
  margin: 0 auto;
}

.content {
  max-width: 380px;

  @media (max-width: 1050px) {
    margin: 0 auto;
    padding: 0 20px;
  }

  margin-bottom: 1rem;
}

.settings {
  margin-bottom: 0.7rem;
}

.settings::before {
  display: inline-block;
  content: '';
  width: 100%;
  border-block-start: 1px solid transparent;
  border-block-start-color: var(--component-underline-color);
}

.link {
  width: 100%;
  background-color: var(--component-light-background-color);
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 0.5rem;
}

.moder {
  padding: 0.2rem;
}