.number {
  white-space: pre;
}

.text {
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: pre-line;
  margin-bottom: 8px;
}

.loader {
  margin-left: 6px;
  width: 28px;
  height: 28px;
}

.not-found {
  margin-bottom: 0.55rem;
}

.add-btn {
  position: absolute;
  top: 230px;
  left: 5px;
}

.add-icon {
  width: 24px;
  height: 24px;
}

.icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.delete-icon {
  margin-left: 6px;
  width: 28px;
  height: 28px;
}

.active {
  color: var(--button-accept-color);
}

.notes-wrapper {
  padding: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 165px;
  border: solid 10px var(--component-light-background-color);
  border-bottom: none;
  transition: background-color 0.5s ease;
}
