.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-width-mobile);

  @media (min-width: 1050px) {
    max-width: var(--max-width-desktop);
  }
}

.content {
  @media (max-width: 1050px) {
    padding: 0 10px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
}

.icon {
  box-sizing: border-box;
  padding: 0.1rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border-radius: 0.5rem;
}

.moder {
  padding: 0.35rem;
}