.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  gap: 10px;
  width: 100%;
  max-width: 700px;
  height: 100%;
  overflow-y: auto;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.close {
  left: 12px;
  position: absolute;
  cursor: pointer;
}

.container {
  width: 100%;
}

.section {
  padding: 34px 20px;
  border-bottom: 2px solid var(--component-underline-color);
}

.info {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
}

.homework-list {
  margin: 0;
  width: fit-content;
}

.homework-list-item {
  vertical-align: top;
  font-size: 15px;
  color: var(--text-invert-color);
}

.delete-icon {
  margin-left: 8px;
  width: 24px !important;
  height: 24px !important;
}

.moderator {
  border: none;
}
