.homework-list {
  color: var(--text-invert-color);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-wrap: break-word;
}

.homework-column {
  display: flex;
  max-width: calc(100% - 130px);
}
