.homework-list {
  width: 100%;
  color: var(--text-invert-color);

  @media (min-width: 1050px) {
    width: fit-content;
  }
}

.homework-row {
  vertical-align: middle;
  font-size: 15px;
}

.mobile {
  @media (max-width: 1050px) {
    width: 0;
  }
}
