.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6rem;
}

.label {
  color: var(--text-invert-color);
  font-size: 16px;
  margin-bottom: 5px;
  -webkit-tap-highlight-color: transparent;
}

.textarea {
  width: 100%;
  height: 72px;
  border: 2px solid;
  border-color: var(--border-base-color);
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: var(--text-invert-color);
  font-size: 16px;
  outline: none;
  resize: none;
  transition: all 0.3s ease-in-out;

  &:focus {
    border-color: var(--border-focus-color);
  }
}

.textarea::-webkit-scrollbar-track {
  margin: 0;
}
