.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-width-desktop);
}

.content {
  display: grid;
  row-gap: 2rem;
  padding-bottom: 1.5rem;

  @media (min-width: 1050px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 1050px) {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}
